@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'TmoneyRoundWind';
  src: url('./assets/fonts/TmoneyRoundWindRegular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TmoneyRoundWind';
  src: url('./assets/fonts/TmoneyRoundWindExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: 'TmoneyRoundWind', sans-serif;
}

.flex::-webkit-scrollbar-thumb {
  border-radius: 25px;
}

.input-placeholder::placeholder {
  color: #d4d4d4;
  opacity: 0.8;
}
.custom-placeholder::placeholder {
  color: white;
  opacity: 0.5;
}

.title {
  @apply text-center mt-[150px] mb-[90px] text-[32px] text-blue font-extrabold;
}

.customborder {
  @apply p-[20px] border-2 border-blue text-blue rounded-md input-placeholder;
}

.bordernoneinput {
  @apply border-none focus:outline-none focus:border-none focus:ring-0 input-placeholder;
}
